/* for bubbling and capturing */
#outerMost{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    border: 2px solid tan;
    background-color: aquamarine;

}
#innerEle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 2px solid rgb(135, 21, 63);
    background-color: blanchedalmond;
}

#innerMost{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(16, 46, 143);
    background-color: red;
}